<% title "Users" %>

<p><%= link_to "Create New User", new_user_path, class: "btn btn-success" %></p>

<% @users_grouped.each do |role, users| %>
  <h4><%= role.humanize.capitalize rescue nil %></h4>


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Username</th>
      <th scope="col">Usertype</th>
      <th scope="col">Role</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
   <% for user in users %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.username %></td>
        <td><%= user.usertype %></td>
        <td><%= user.role %></td>
        <td><%= link_to "Details", user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>
