<% title "User Details" %>
<%= link_to "<< Back To User List", users_path %>
<h2><%= @user.name %> </h2>
<table class="table">
  <tr>
    <td><strong>Email</strong></td>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <td><strong>Username</strong></td>
    <td><%= @user.username %></td>
  </tr>

  <tr>
    <td><strong>Role</strong></td>
    <td><%= @user.role %></td>
  </tr>
  <tr>
    <td><strong>User Type</strong></td>
    <td><%= @user.usertype %></td>
  </tr>
  <tr>
    <td><strong>Active?</strong></td>
    <td><%= @user.deleted? == false ? "Yes" : "No" %></td>
  </tr>
</table>
<hr/>

<p>
  <%= link_to "Make Changes", edit_user_path(@user), class: "btn btn-success"%>
  <%= link_to "Destroy", @user, :confirm => 'Are you sure?', :method => :delete, class: "pull-right btn btn-small btn-danger" %>
</p>
