<div class="attachment media" id="attachment_<%= attachment.id %>">

  <% if (Rails.application.assets || ::Sprockets::Railtie.build_environment(Rails.application)).find_asset("Free-file-icons/48px/#{attachment.file.file.extension.downcase}.png").to_s %>
    <%= link_to image_tag("Free-file-icons/48px/#{attachment.file.file.extension.downcase}.png", alt: "File", class: "media-object"), attachment.file.url, class: "pull-left" %>
  <% else %>
    <%= link_to image_tag("Free-file-icons/48px/_blank.png", alt: "File", class: "media-object"), attachment.file.url, class: "pull-left" %>
  <% end %>

  <div class="media-body">

	  <% if attachment.data_request.status != DataRequest::FILLED  %>
			<a class="delete_attachment pull-right red" href="#" data-toggle="popover" data-attachment-id="<%= attachment.id %>"><i class="icon-remove-circle"></i> Delete</a>
 			<div id="confirmation_attachment_delete_<%= attachment.id%>" class="hide">
				Are you sure?
				<%= link_to "Yes", [@data_request,attachment],:method => :delete , :class => "btn-link" %> or
					<a href="#" class="no-link" onclick="$('#attachment_<%= attachment.id %> .delete_attachment').popover('hide'); return false; ">No</a>
			</div>
    <% end %>

		<h4>
			<%= link_to attachment.name.humanize, attachment.file.url %>
		</h4>
		<p><%= attachment.description rescue nil %></p>
    <p class="muted">
			<strong class="dark"><%= attachment.user.nil? ? "System User" : attachment.user.name %></strong> uploaded this file on
			<span title="uploaded <%= attachment.created_at.strftime("%B %d, %Y at %I:%M %p") %>"><%= attachment.created_at.strftime("%B %d, %Y") %> Size: <%= (attachment.file.file.size.to_f/(1000*1000)).round(2) %> MB</span>
		</p>
  </div>
</div>
