<% title "Data Request Details" %>
<div class="requests">

  <% if can?(:update, @data_request) && (@data_request.status == DataRequest::OPEN || @data_request.status == DataRequest::EXPIRED) %>
    <%= link_to edit_data_request_path(@data_request), class: 'btn btn-success btn-sm mb-3' do %>
     <i class="bi-pencil"></i> Make Changes
    <% end %>
  <% end %>

  <%= render @data_request %>

  <% if can?(:create, Attachment) && @data_request.status == DataRequest::OPEN %>
   <div class="well mb-5">
      <h3>Upload Files</h3>

      <%= form_for [@data_request, @attachment], html: { id: "jq_attachment", class: "mt-3 form" } do |f| %>
        <%= f.file_field :file, multiple: true, name: "attachment[file]", title: "Select a File", type: :file %>

      <div id="files"></div>
      <% end %>

      <div id="progress" class="progress d-none mt-3" role="progressbar" aria-label="Upload progress" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar" style="width: 0%">0%</div>
      </div>

      <div id="upload_error" class="alert alert-error d-none alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
  <% end %>

  <%= render :template => 'attachments/index' %>

  <% if @data_request && @data_request.status != DataRequest::CANCELLED && can?(:cancel, @data_request) %>
    <hr>
    <a href="#" class="link-danger float-end" data-bs-toggle="modal" data-bs-target="#cancel_request_modal_<%= @data_request.id %>">
      Cancel This Request
    </a>

    <div class="clearfix"></div>

    <%= render "data_requests/cancel_request", data_request: @data_request %>

  <% end %>
</div>
