<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %> | Gaia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= yield(:head) %>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application" %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  </head>
  <body>
  	<div class="container shadow mt-md-5 mb-md-5 p-0">
  		<%= render :template => "layouts/navbar"%>
  	</div>

  	<div class="container shadow rounded-3 border p-4 p-md-4 my-md-3">
  		<header>
				<% flash.each do |name, msg| %>
					<div class="alert alert-<%= name == 'notice' ? 'success' : 'warning' %> alert-dismissible fade show" role="alert">
						<strong><%= name.capitalize %>:</strong> <%= msg %>
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				<% end %>

				<% if show_title? || content_for?(:title_html) %>
          <div class="mb-5">
            <%= content_tag :h1, yield(:title), class: "h2" %>
            <%= yield (:title_html) if content_for?(:title_html)%>
          </div>
        <% end %>
			</header>

			<main class="my-1">
				<%= yield %>
			</main>
			
			
		</div>

		<div class="container ">
			<footer>
				<p class="text-muted">&copy; Gaia - York University Libraries. All rights reserved. (Version: <%= Rails.application.config.git_commit_hash %>)</p>
			</footer>
		</div>
	</body>
</html>
