<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" title="Gaia" href="<%= root_path %>"><%= image_tag("earth.png", width:"18", height:"18") %> Gaia</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if @current_user%>
        <% if can? :manage, DataRequest %>
          <li class="nav-item">
            <%= active_link_to "All Requests", data_requests_path, class:"nav-link", active: is_controller_and_action("data_requests", "index") %>
          </li>
        <% end %>
        <li class="nav-item">
          <%= active_link_to "My Requests", requests_user_path(current_user), class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= active_link_to "New Requests", new_data_request_path, class:"nav-link" %>
        </li>
        <% if can? :manage, User %>
          <li class="nav-item">
            <%= active_link_to "Gaia Users", users_path, class:"nav-link", active: is_controller_and_action("users", "index") %>
          </li>
        <% end %>
        <% end %>
      </ul>

      <ul class="navbar-nav mt-2 mt-md-0">
        <% if @current_user%>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= truncate(@current_user.name, length: 20) if @current_user%> <b class="caret"></b>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><%= link_to "Logout", logout_path, class: "dropdown-item" %></li>
          </ul>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
