<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <!-- Talk to Terry about why the mobile version does not collapse / disabled for Gaia.
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a> -->

			<!-- Be sure to leave the brand out there if you want it shown -->
			<a class="brand" href="<%= root_path %>"><%= image_tag("earth.png", width:"18", height:"18") %> Gaia</a>

			<!-- Everything you want hidden at 940px or less, place within here -->
			<div class="nav-collapse">

				<!-- .nav, .navbar-search, .navbar-form, etc -->
				<ul class="nav">

					<li class="divider-vertical"></li>

					<% if can? :manage, DataRequest %>
						<li class="<%= "active" if is_controller_and_action("data_requests") %>">
							<a href="<%= data_requests_path %>"><i class="icon-globe"></i> All Requests</a>
						</li>
					<% end %>


					<li class="home <%= "active"  if is_controller_and_action("users", "requests") %>">
						<a href="<%= requests_user_path(current_user) rescue nil %>"><i class="icon-coffee"></i> My Requests</a>
					</li>


			  </ul>
				<ul class="nav pull-right">

						<li class="<%= "active" if is_controller_and_action("data_requests", "new") %>">
							<a href="<%= new_data_request_path %>"><i class="icon-plus-sign icon-white"></i> New Request</a>
						</li>


						<li class="divider-vertical"></li>
						<% if can? :manage, User %>
							<li class="<%= "active" if is_controller_and_action("users", "index") %>">
								<a href="<%= users_path %>">Gaia Users</a>
							</li>
						<% end %>


						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						  <% if current_user %> <%= current_user.name %> <% end %><b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><%= link_to "Logout", logout_path %></li>
							</ul>
						</li>
				</ul>
			</div>
		</div>
	</div>
</div>
